/* 全局样式表 */
html,body,#app{
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    margin: 0;
    min-width: 1366px;
}

.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}

.el-table{
    margin-top: 20px;
}

.el-pagination{
    margin-top: 20px;
}

.zk-table{
    margin-top: 20px;
}

/* 隐藏横向滚动条 */
.el-scrollbar__wrap{
    overflow-x: hidden;
  }

